version: "3.11"

services:
  spark-master:
    image: apache/spark:3.5.8-scala2.12-java11-python3-r-ubuntu
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "7077:7077"
      - "8080:8080"
    environment:
      SPARK_MASTER_HOST: spark-master
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8080
    volumes:
      - ./app:/opt/spark-app
    networks:
      - spark-net

  spark-worker-1:
    image: apache/spark:3.5.8-scala2.12-java11-python3-r-ubuntu
    container_name: spark-worker-1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2G
      SPARK_WORKER_WEBUI_PORT: 8081
    ports:
      - "8081:8081"
    volumes:
      - ./app:/opt/spark-app
    depends_on:
      - spark-master
    networks:
      - spark-net

  spark-worker-2:
    image: apache/spark:3.5.8-scala2.12-java11-python3-r-ubuntu
    container_name: spark-worker-2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2G
      SPARK_WORKER_WEBUI_PORT: 8082
    ports:
      - "8082:8082"
    volumes:
      - ./app:/opt/spark-app
    depends_on:
      - spark-master
    networks:
      - spark-net

  jupyter:
    build: .
    image: local-pyspark:3.5.8
    container_name: jupyter
    depends_on:
      - spark-master
    ports:
      - "8888:8888"
      - "4040:4040"
    environment:
      PYSPARK_MASTER: spark://spark-master:7077
      PYSPARK_PYTHON: python3
      PYSPARK_DRIVER_PYTHON: python3
      SPARK_HOME: /opt/spark
    volumes:
      - ./app:/opt/spark-app
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge
